<div class=container>
  <br>
  <h1>Staff Details</h1>
  <h2>By Ellen Woodward S00222321</h2>
  <h4>https://6446a1c6ee791e1e2904ebdc.mockapi.io/staffDetails</h4>

  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody *ngFor="let staff of results">
      <tr>
        <td>{{staff.lastname}}, {{staff.firstname}}</td>
        <td>{{staff.jobtitle}}</td>
        <td>{{staff.country}}</td>
      </tr>
    </tbody>
  </table>

</div>